$main-theme: (
    success: (
        1: #3FBC82,
        2: #8ad6b2,
    ),
    danger: (
        1: #BC553F,
        2: #d08979,
    ),
    info: (
        1: #4B65D1,
        2: #92a3e2,
    ),
    caution: (
        1: #e2cf20,
        2: #ece077,
    ),
)